.playing_field {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/game/game_bg.png");
    background-size: cover;
    overflow: hidden;
}

.space_ship {
    position: absolute;
    width: 99px;
    height: 75px;
    z-index: 1;
}

.player_ship {
    left: 47%;
    bottom: 25px;
    background: url("../images/sprite.png") 0 0;
}

.damaged_player_ship {
    background: url("../images/sprite.png") -100px 0;
}

.space_entity {
    position: absolute;
}

.ufo {
    position: absolute;
    width: 92px;
    height: 92px;
    background: url("../images/sprite.png") -202px 0;
    z-index: 4;
}

.enemy_ship {
    position: absolute;
    width: 98px;
    height: 50px;
    background: url("../images/sprite.png") -201px -100px;
    z-index: 5;
}

.small_meteor {
    position: absolute;
    width: 44px;
    height: 42px;
    background: url("../images/sprite.png") -202px -154px;
    z-index: 3;
}

.big_meteor {
    position: absolute;
    width: 136px;
    height: 111px;
    background: url("../images/sprite.png") 0 -80px;
    z-index: 2;
}

.score {
    position: absolute;
    width: 150px;
    height: 27px;
    top: 20px;
    right: 20px;
    z-index: 6;
    color: #fff;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 25px;
    text-align: right;
}

.btn {
    position: absolute;
    color: #fff;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 25px;
    text-decoration: none;
    opacity: 0.2;
    bottom: 20px;
    z-index: 8;
    -webkit-user-select: none;
}

.btn:hover {
    opacity: 1;
}

.reset_btn {
    right: 95px;
}

.exit_btn {
    right: 20px;
}

.player_lives {
    position: absolute;
    display: flex;
    width: 200px;
    height: 27px;
    top: 20px;
    left: 20px;
    z-index: 6;
}

.life {
    width: 35px;
    height: 27px;
    margin-right: 5px;
    background: url("../images/sprite.png") no-repeat -255px -157px;
}

.bullet {
    position: absolute;
    width: 9px;
    height: 33px;
}

.player_bullet {
    background: url("../images/sprite.png") -301px -40px;
}

.enemy_bullet {
    background: url("../images/sprite.png") -301px -1px;
}

.snake{
    animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 100px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-5px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(7px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-9px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(9px, 0, 0);
    }
}

.slide_left{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.slide_right{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}
